#modernize-pass-by-value,
Checks: '
cppcoreguidelines-*,
cert-*,
clang-analyzer-*,
bugprone-*,
modernize-*
'

WarningsAsErrors: '*'

HeaderFilterRegex: 'include/[A-Z][A-Za-z0-9]*\.hh'
AnalyzeTemporaryDtors: false
InheritParentConfig: false
FormatStyle: none